<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div>
    <h3>CONEXÃO QUE TRANSFORMA</h3>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <p>
        <img class="logo" src="assets/ngx-rocket-logo@192.png" alt="angular logo"/>
      </p>
    </div>
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>
          Usuária ou senha incorretas.
        </div>
        <br/>
        <div class="login-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true">
            <input type="text" matInput formControlName="username" autocomplete="username"
                   [placeholder]="'Usuaria' | translate" required/>
            <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
              <span translate>Usuaria é obrigatoria</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input type="password" matInput formControlName="password" autocomplete="current-password"
                   [placeholder]="'Senha' | translate" required/>
            <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
              <span translate>Senha é obrigatória</span>
            </mat-error>
          </mat-form-field>
          <mat-slide-toggle color="primary" formControlName="remember" translate>Lembrar de mim</mat-slide-toggle>
          <br/>
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Entrar</span>
          </button>
          <button mat-stroked-button color="primary" routerLink="/create" routerLinkActive="active">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Se cadastrar</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

