<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
    </p>
    <mat-card-content>
      <mat-card-title translate>Bem vinda ao apoiAME, a plataforma que xyz</mat-card-title>
      <mat-card-subtitle>
        <p>Aqui voce pode se conectar com outras empreendedoras, acesse o mapa abaixo para saber sobre empreendimentos disponiveis</p>
      
      </mat-card-subtitle>
      <agm-map 
[latitude]="latitude" 
[longitude]="longitude" 
[zoom]="zoom" >
  <agm-marker 
  [latitude]="latitude" 
  [longitude]="longitude"></agm-marker>
</agm-map>
    </mat-card-content>
  </mat-card>

  
</div>
